.user-footer {
  background-color: #f8f9fa;
  color: #444;
  padding: 50px 0 20px;
  border-top: 1px solid #e1e1e1;
  font-family: "Poppins", sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h4 {
  color: #27ae60;
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-links {
  display: flex;
  gap: 50px;
  flex: 2;
  justify-content: center;
}

.link-group h5 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1rem;
}

.link-group a {
  display: block;
  color: #666;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s;
}

.link-group a:hover {
  color: #27ae60;
  padding-left: 5px;
}

.footer-status {
  flex: 1;
  min-width: 250px;
  text-align: right;
}
